ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    font-size: 17px;
    background-color: #ddd;
    transition:  box-shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    li {
        display: inline;
        a {
            color: #0275d8;
            text-decoration: none;
        }
        a:hover {
            color: #01447e;
        }
    }
    li+li:before {
        padding: 8px;
        content: ">";
    }
}