.titlebar {
    height: 60px;
    line-height: 60px;
    transition: box-shadow 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    img {
        height: 40px;
        margin: 10px;
        float: left;
    }
    span {
        height: 100%;
        line-height: 40px;
        margin:10px;
        float: left;
    }
}