.titlebar {
    height: 60px;
    line-height: 60px;
    img {
        height: 40px;
        margin: 10px;
        float: left;
    }
    span {
        height: 100%;
        line-height: 40px;
        margin:10px;
        float: left;
    }
}